<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
    <head>
        <title>Sample App</title>
    </head>
    <body>
        <h1>Sample App</h1>
        <p>
        This is the home page for the 
        <a href="http://www.railstutorial.org/"> Ruby on Rails Tutorial</a>
        sample application
        </p>
        <embed src='http://player.youku.com/player.php/sid/XNDEyNjI0ODcwNA==/v.swf' allowFullScreen='true' quality='high' width='480' height='400' align='middle' allowScriptAccess='always' type='application/x-shockwave-flash'></embed>
    </body>
</html>